* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 62.5; }

.html {
  background-color: lavender;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }

.header {
  background-color: black;
  color: #6e6e21;
  display: flex;
  justify-content: center;
  font-size: 3rem;
  transition: font-size 1s; }

.header:hover {
  font-size: 100px; }

.lista__item {
  text-decoration: none;
  color: #6e6e21; }

.main {
  padding-top: 60px;
  display: flex;
  justify-content: center; }
  .main .main div {
    border: solid gray;
    display: flex;
    width: 1000px;
    justify-content: center;
    background-color: aliceblue; }

.div1 {
  padding: 10px; }
  .div1 .img {
    width: 370px;
    height: 370px; }

.h {
  padding: 10px; }

.footer {
  background-color: black;
  color: #6e6e21; }
  .footer .img {
    width: 30px;
    height: 30px;
    transition: width 1s;
    transition: height 1s; }
  .footer img:hover {
    width: 40px;
    height: 40px; }
  .footer .section {
    display: flex;
    justify-content: end; }

.html {
  background-color: lavender;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }

.header {
  background-color: black;
  color: #6e6e21;
  display: flex;
  justify-content: center;
  font-size: 3rem;
  transition: font-size 1s; }
  .header:hover {
    font-size: 100px; }

.lista__item {
  text-decoration: none;
  color: #6e6e21; }

.section {
  display: flex;
  justify-content: center; }
  .section img {
    width: 1350px;
    height: 350px;
    display: flex;
    justify-content: center; }

.div1 {
  display: flex;
  justify-content: center; }
  .div1 a {
    padding: 10px; }

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 20px; }
  .main img {
    height: 210px;
    width: 210px;
    transition: width 1s; }
  .main img:hover {
    width: 280px; }
  .main div {
    border: solid;
    height: 290px;
    width: 230px;
    border-color: black;
    color: black;
    font-size: 0.7rem;
    box-shadow: inset;
    border-width: 3px;
    background-color: white;
    transition: width 1s; }
  .main div:hover {
    width: 300px; }
  .main a {
    text-decoration: none; }

.footer {
  background-color: black;
  color: #6e6e21; }

.footer img {
  width: 30px;
  height: 30px;
  transition: width 1s;
  transition: height 1s; }

.footer img:hover {
  width: 50px;
  height: 50px; }

.footer section {
  display: flex;
  justify-content: end; }
  .main2 div {
    height: 800px;
    width: 800px;
    flex-direction: column; }
  .main2 img {
    width: 400px;
    height: 400px; }

.categoriash2 {
  margin: 50px; }

.redes {
  margin: 20px; }

.backgroundnegro {
  background-color: black; }

.titulosh5 {
  color: #6e6e21;
  font-size: 30px;
  text-decoration: none; }
  .a{
    text-decoration: none;
    color: #6e6e21;
    font-size: 20px;
  }
.colorh3{
  color: #6e6e21;
}
.img{
  width: 400px;
  height: 400px;
}